<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDk7joGoOKQq_1wmPN9dmOQrCGOy0x0q4</string>
	<key>GCM_SENDER_ID</key>
	<string>679710840277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nurluyolerislam.Music</string>
	<key>PROJECT_ID</key>
	<string>music-69585</string>
	<key>STORAGE_BUCKET</key>
	<string>music-69585.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679710840277:ios:a74f2b9c076b7da69a595c</string>
</dict>
</plist>